aggdraw==1.3.18.post0
attr==0.3.2
autograd==1.7.0
boto3==1.35.9
botocore==1.35.9
brotli==1.1.0
brotlicffi==1.1.0.0
cffi==1.17.0
chardet==5.2.0
cloud_tpu_client==0.10
colorama==0.4.6
ConfigParser==7.1.0
cryptography==43.0.0
cudf==0.6.1.post1
cycler==0.12.1
dask_cuda==24.8.2
datatable==1.1.0
dill==0.3.8
docutils==0.21.2
fastcluster==1.2.6
filelock==3.15.4
flake8==7.1.1
flax==0.9.0
fsspec==2024.6.1
google_api_python_client==2.143.0
graphviz==0.20.3
grpc_reflection==1.0.0
grpc_tools==1.0.0
h2==4.1.0
h5==0.9.3
hep_ml==0.7.2
HTMLParser==0.0.2
hypothesis==6.111.2
importlib_metadata==8.4.0
ipdb==0.13.13
ipython==8.12.3
ipython==8.25.0
ipywidgets==8.1.3
jnius==1.1.0
joblib==1.4.2
keyring==25.3.0
kubernetes==30.1.0
lxml==5.3.0
matplotlib==3.9.2
memory_profiler==0.61.0
mkl==2024.2.1
modin==0.31.0
mpi4py==4.0.0
mpmath==1.3.0
nose==1.3.7
oauth2client==4.1.3
objgraph==3.6.1
pandas==2.2.2
Pillow==10.4.0
pooch==1.8.2
portpicker==1.6.0
psutil==6.0.0
pudb==2024.1.2
pyarrow==17.0.0
pycuda==2024.1.2
pydot==3.0.1
pydot_ng==2.0.0
pydotplus==2.0.2
pyemd==1.0.0
pyodide==0.0.2
pyOpenSSL==24.2.1
pyspark==3.5.2
pytest==8.3.2
pytest_timeout==2.3.1
pytidylib==0.3.2
PyYAML==6.0.1
PyYAML==6.0.2
redis==5.0.8
rmm==0.0.1
ROOT==0.0.1
scikits.talkbox==0.2.5
setuptools==70.1.0
simplejson==3.19.3
Sphinx==8.0.2
statsmodels==0.14.2
sympy==1.12.1
tblib==3.0.0
tensorboard_plugin_profile==2.17.0
tensorboard_plugin_wit==1.8.1
tensorflow_io==0.37.1
tensorflow_io_gcs_filesystem==0.37.1
tf_keras==2.17.0
tflite_runtime==2.14.0
thread==2.0.5
threadpoolctl==3.5.0
tornado==6.4.1
uproot==5.3.12
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.23.0

absl-py==2.1.0
anyio==4.4.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
awkward==2.6.5
awkward-cpp==34
awkward-pandas==2023.8.0
Babel==2.15.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
boost_histogram==1.4.1
bqplot==0.12.43
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
cloup==3.0.5
colour==0.1.5
comm==0.2.2
contourpy==1.2.1
cramjam==2.8.3
cycler==0.12.1
Cython==3.0.10
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
dtreeviz==2.2.2
executing==2.0.1
ez_setup==0.9
fastjsonschema==2.20.0
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
fsspec==2024.6.0
gast==0.6.0
glcontext==2.5.0
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.64.1
h11==0.14.0
h5py==3.11.0
hist==2.7.3
histoprint==2.4.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.12.3
ipywidgets==8.1.3
isoduration==20.11.0
isosurfaces==0.1.2
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
keras==3.4.1
kiwisolver==1.4.5
libclang==18.1.1
manim==0.18.1
manim-ml==0.0.24
ManimPango==0.5.0
mapbox-earcut==1.0.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1.post1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
moderngl==5.10.0
moderngl-window==2.4.6
mpmath==1.3.0
multipledispatch==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.4
opt-einsum==3.3.0
optree==0.12.1
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pipreqs==0.5.0
platformdirs==4.2.2
pluggy==1.5.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.25.3
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.26.1
pycparser==2.22
PyDesmos==0.1.3
pydub==0.25.1
pyemd==1.0.0
pyglet==2.0.15
Pygments==2.18.0
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
PyOpenGL==3.1.7
pyparsing==3.1.2
pyperclip==1.9.0
pyrr==0.10.3
pytest==8.3.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
scikit-learn==1.5.0
scipy==1.14.0
screeninfo==0.8.1
Send2Trash==1.8.3
setuptools==70.1.0
six==1.16.0
skia-pathops==0.8.0.post1
sniffio==1.3.1
soupsieve==2.5
srt==3.5.3
stack-data==0.6.3
svgelements==1.9.6
sympy==1.12.1
TBB==0.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.3.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
traittypes==0.2.1
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
uhi==0.4.0
uproot==5.3.7
uri-template==1.3.0
urllib3==2.2.2
validators==0.28.3
watchdog==4.0.1
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
wheel @ file:///usr/local/Cellar/python%403.12/3.12.4/libexec/wheel-0.43.0-py3-none-any.whl#sha256=ff23205a590f2b902a2a21151019e96b93ab4a1409d7c9748b6bd210f4c0f44d
widgetsnbextension==4.0.11
wrapt==1.16.0
xrootd==5.7.0
yarg==0.1.9
